name: Build
on:
  workflow_dispatch:
  pull_request:
    branches: [master]
  push:
    branches: [master]
jobs:
  build-project:
    name: Build Project
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Configure Project
        run: cmake --preset release

      - name: Build Project
        run: cmake --build --preset release
